section#about.my-5
	.container
		.row.mb64.mb-xs-24
			.col-md-offset-2.col-sm-10.col-sm-offset-1
				h3.uppercase.mb16 Urban Neighborhood Dining
				h6.mb8.uppercase Downtown Las Vegas
				br
				p.lead Opening in 2014, Carson Kitchen was the creation of Las Vegas' hometown favorite Chef Kerry Simon and restaurateur Cory Harwell. The plan, to develop the first urban casual eatery, inside the re-purposed mid-century John E. Carson Hotel - a skeleton of Downtown Las Vegas' yesteryears, now home to its eclectic mix of tenants including a sushi bar, tattoo parlor, pilates studio, creative agencies, donut &amp; coffee bar and Chef Simon's playful interpretations on American comfort food.
				p.lead The renovated space, showcased by hand-crafted solid butcher block countertops throughout, provides multiple atmospheres to indulge including a swanky bar, the open kitchen expo counter, a community table and the outdoor rooftop patio and bar - yes, that's two bars to choose from. Guests can also take in a cocktail and relax in the now preserved 1950's hotel courtyard, fully outfitted with a lava rock fire pit.
				p.lead If you're looking for an alternative to The Strip's offerings and simply want to get back to basics of creative comfort, Carson Kitchen will bring you back to a time when your grandparents visited Las Vegas.
				h4
					a(href="https://www.facebook.com/CarsonKitchen/")
						i.fab.fab-facebook
					a(href="https://twitter.com/CarsonKitchen?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor")
						i.fab.fab-twitter-alt
					a(href="https://www.instagram.com/carsonkitchen/?hl=en")
						i.fab.fab-instagram