extends layout

block content
    .container-fluid
        .group-page-head.bg-center-cover-nr.py-5
            .menu-page-head-heading.py-5
                .container.text-center.py-5
                    h1.text-center.py-2(style="border-top: 1px white solid; border-bottom: 1px white solid;") Group Dinnig
            .menu-page-head-gradient(style="background-image:url('img/gradient-white-bottom-black-top.png')")
    .container
        #group-page-text.align-center.mx-5
            h1.text-center.pt-4.text-muted(style = "font-family: Lobster, cursive;") Carssars Kitchen GROUP DINING
            h5.text-center.pt-2(style = "font-family: Raleway, sans-serif; font-weight: bold")  DOWNTOWN LAS VEGAS' HIPPEST RESTAURANT VENUE FOR HOSTING YOUR WEDDING RECEPTION, REHEARSAL DINNER, BIRTHDAY CELEBRATION OR CASUAL BUSINESS GET-TOGETHER
            p.lead.mt-4(style = "font-family: 'Roboto', sans-serif")  Carssars Kitchen offers several choices for your private dining event in Downtown Las Vegas. When in season, our rooftop patio dining + private bar is the perfect space for your intimate gathering of friends or business colleagues. The outdoor patio can seat up to 45 guests for dining and up to 65 guests standing. The main dining room downstairs can accommodate up to 55 guests for seated dining and up to 70 for standing. Groups may reserve either space, or both should the guest count demand it.
            p.lead.mt-4(style = "font-family: 'Roboto', sans-serif") In addition to our designated dining areas, the John E. Carson mid-century hotel courtyard provides a classic Vegas throw-back space for pre-function; perfect for wedding parties that want to keep their guests in a social setting prior to being invited in for dining.
            p.lead.mt-4(style = "font-family: 'Roboto', sans-serif") Best yet, for your visiting guests, Carssars Kitchen is conveniently located one block from Downtown Las Vegas' Fremont Street Experience and walking distance to all the major hotels and downtown nightlife. Old-school Vegas is happening again!
            p.lead.mt-4(style = "font-family: 'Roboto', sans-serif") To book a private event, please click on Gather below.

    .container.my-5
        img.img-fluid.px-3(src="img/gather.png")
        hr.px-5