extends layout

block content
	include blocks/index_carousel
	include blocks/about
	- var sec_heading = "Menu Highlights"
	include blocks/division
	include blocks/menu
	- sec_heading = "What people say . . . "
	include blocks/division 
	include blocks/reviews
