extends layout

block content
    .container-fluid
        .location-page-head.bg-center-cover-nr.py-5
            .menu-page-head-heading.py-5
                .container.text-center.py-5
                    h1.text-center.py-2(style="border-top: 1px white solid; border-bottom: 1px white solid;") Reach Us
            .menu-page-head-gradient(style="background-image:url('img/gradient-white-bottom-black-top.png')")
    .container