extends layout

block content
	div.container-fluid
		div.section-table
			div.table
				div.sec-t.basilic
					img(src="/img/basilic.png", alt="Basilic")
				div.sec-t.huile
					img(src="/img/huile.png", alt="Huile")
				div.menucarte
					img(src="/img/menu.png", alt="Menu")
				div.plate1
					img(src="/img/salade-lentilles.png", alt="Salade Lentilles")
					.rollover
						.roundbtn
							span Discover
				div.tomates-cerise
					img(src="/img/tomates-cerise.png", alt="Menu")
				div.planchecharcuterie
					img(src="/img/planche-charcuteries.png")
				div.moutarde
					img(src="/img/moutarde.png")
				div.burger
					img(src="/img/burger-boeuf-seul.png")
				div.frittes
					img(src="/img/panier-frites.png")
				div.soja
					img(src="/img/sauce-soja.png")
				div.wasabi
					img(src="/img/wasabi.png")
				div.sushis
					img(src="/img/sushis.png")
				div.frittes
					img(src="/img/panier-frites.png")
				div.morceaux-chocolat
					img(src="/img/copeaux-chocolat.png")
				div.oeuf
					img(src="/img/oeuf.png")
				div.gourmandise-1
					img(src="/img/gourmandise-1.png")
				div.gourmandise-2
					img(src="/img/gourmandise-2.png")
				div.gourmandise-3
					img(src="/img/gourmandise-3.png")
				div.agrumes
					img(src="/img/agrumes-2.png")
				div.cocktail
					img(src="/img/cocktail.png")
				div.cuillere
					img(src="/img/cuillere.png")
				div.muffin
					img(src="/img/muffin-4.png")
				div.mug-3
					img(src="/img/mug-3.png")