extends layout

block content
	#menu-page.container-fluid.mt-5.pt-3
		.row
			.menu-page-inner
				.cat-block.float-left(:class="{'show':(categories[i]._id==category._id)}" v-for="category in categories")
					.container-fluid
						.container-fluid.mt2-0.mx-0.row(style="height:100%;")
							.col.mr-0.px-0.sec-menu(style="height:100%;")
								.container-fluid.mt-2.mx-0(style="height:100%;")
									h4.category-title.text-center.p-1 {{ category.title }}
									hr.my-1
									div.menu-list.pt-2.px-3(style="height:90%;")
										div.menu-item(v-for="item in category.menu")
											span.float-right &dollar;{{item.price}}
											h5.m-0.mt-2 {{item.title}}
											span {{item.menu_desc}}
											br
