extends layout

block content
	.container-fluid#page_content
		.container-fluid
			.page-head.bg-center-cover-nr.py-5(style="background-image:url('https://images.unsplash.com/photo-1503863627916-deb1706f5b79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');")
				.page-head-heading.py-5
					.container.text-center.py-5
						h1.text-center.py-2(style="border-top: 1px white solid; border-bottom: 1px white solid;") RESERVE NOW
				.page-head-gradient(style="background-image:url('img/gradient-white-bottom-black-top.png')")
		.container-fluid
			.container.page-inner.py-5
				#sec-reservation.container-fluid.page-container.my-2
					.container-fluid.row.mx-0.p-md-3
							.col-12.p-3
								.container-fluid
									ul.nav.nav-tabs(style="font-weight: bold")
										li.nav-item
											span.nav-link(:class="{'active':section===1  }" @click="section=1") Browse
										li.nav-item
											span.nav-link(:class="{'active':section===2  }" @click="section=2") Details
										li.nav-item
											span.nav-link(:class="{'active':section===3 , 'disabled':section!==3}") Confirmation
								.container-fluid.mt-3
									.container-fluid.section-1(v-if="section===1")
										.container-fluid.m-1.mt-0.pl-3
											p.m-3(style = "font-family: 'Raleway', sans-serif; font-weight: bold") {{ config.note }}
										.container-fluid.mt-3.p-2
											.row.ml-2
												.col-12.col-md-6.form-group.pl-2.text-center
													.input-group
														.input-group-prepend
															.input-group-text
																i.fa.fa-calendar-alt
														input.form-control#date(type="date" v-model="bDate" :min="minDate")
												.col-12.col-md-6.form-group.pl-2.text-center
													.input-group
														.input-group-prepend
															.input-group-text
																i.fa.fa-users
														select.form-control#guest(v-model="bGuests")
															option(:value="g.val" v-for="g in guests" :selected="g.s") {{ g.label }}

										span.d-block.ml-2.text-danger(v-if="bErrMsg.length") {{ bErrMsg }}
										.container-fluid(v-if="slots.length")
											.tslotwrapper
												h5.mb-0 Reservation Hour
												.tslot.px-2.py-1.my-2.mx-1.d-inline-block(@click="slotClicked(d)" v-for="d in slots" :class="{'full disabled': d.full,'selected' : d.selected }" :disabled="d.full")
													span.px-2.text-uppercase {{ d.label }}
										.container-fluid.mt-3(v-if="slots.length")
											h5.mb-2.mr-3.d-inline-block Reservation Duration
											.container-fluid.p-2
												.row.container-fluid
													.col-6.hours
														.input-group
															input.form-control(type="number" min="1" :max="maxHours" v-model="rH")
															.input-group-append
																.input-group-text Hours
													.col-6.Mins(v-if="slot_rate <= 30")
														.input-group
															input.form-control(type="number" min="0" max="60" :step="getMinutesStep()" v-if="slot_rate <= 30" v-model.lazy="rM" )
															.input-group-append
																.input-group-text Mins
										.container-fluid(v-if="bErrMsg.length")
											.container
												.text-danger {{ bErrMSg }}
										.container-fluid.mt-5
											.container-fluid.text-right(@click="toDetails")
												.btn.btn-primary Next
									.container-fluid.section-1(v-if="section===2")
										.container-fluid.m-1.mt-0.row
											.col-md-6
												.form-group
													.input-group
														.input-group-prepend
															.input-group-text
																i.fa.fa-user
														input.form-control(v-model="bC.name", placeholder='Full Name',  type='text')
												.form-group
													.input-group
														.input-group-prepend
															.input-group-text
																i.fa.fa-envelope
														input.form-control(v-model="bC.email" placeholder='Email', type='text')
												.form-group
													.input-group
														.input-group-prepend
															.input-group-text
																i.fa.fa-phone.fa-rotate-90
														input.form-control(v-model="bC.number", placeholder='Phone Number', type='text')
											.col-md-6
												.form-group
													.input-group
														.input-group-prepend
															.input-group-text
																i.fa.fa-info
														input.form-control(v-model="bC.purpose", placeholder='Purpose', type='text')
												.form-group
													.input-group
														.input-group-prepend
															.input-group-text
																i.fa.fa-question
														textarea.form-control(v-model="bC.extra", placeholder='Extra requirements? or any thing', )
										.container-fluid(v-if="bCErr.length")
											.container
												.text-danger {{ bCErr }}
										.container-fluid.mt-5
											.container-fluid.text-right(@click="bookNow")
												.btn.btn-primary Book Now
