extends layout

block content
	#page-res.main-container.container-fluid
		section.page-title.page-title-4.pt-5.bg-info(style="height:50vh")
			.container.mt-5
				.row
					.col-md-6.text-center
						h1.uppercase.mb0.font-white
							| Reserve
							strong  Now
		section
			.container-fluid
				.container#sec-reservation.p-3
					.row
						.col-md-6
							.container
								| Select Date
