footer.footer-1.bg-dark.pt-3.pb-2
	.container
		.row
			.col-md-3.col-6
				img.logo(alt='Logo', src='img/logo-light.png' style="width:100%")
			.col-md-3.col-6
				span.sub
					a(href='http://www.simonhospitalitygroup.com', target='_blank') SimonHospitalityGroup.com
				br
				a(href='mailto:carsonkitchen@breadandbutterpr.com?subject=PR Request from Carson Kitchen Website') Press Contact: carsonkitchen@kirvindoak.com
			.col-md-3.col-6
				span.sub
					a(href='http://www.downstairsloftcreative.com', target='_blank') Design: Downstairs Loft Creative, LLC
			.col-md-3.col-6.pt-3
				ul.list-inline.social-list
					li.list-inline-item
						a(href='https://www.facebook.com/CarsonKitchen/')
							i.fab.fa-facebook
					li.list-inline-item
						a(href='https://twitter.com/CarsonKitchen?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor')
							i.fab.fa-twitter
					li.list-inline-item
						a(href='https://www.instagram.com/carsonkitchen/?hl=en')
							i.fab.fa-instagram
	br
	//end of container
	.text-right.pr-3
		a.btn.btn-sm.fade-half.back-to-top.inner-link(href='#top') Top