footer.footer-1.pt-3.pb-2(style="background: url('https://images.unsplash.com/photo-1501774002025-ddf8cd1fc623?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=782&q=80'); background-repeat: no-repeat; background-size: cover;")
	.container
		.row
			.col-md-3.col-6
				img.logo(alt='Logo', src='img/basilic.png' style="width:100%")
			.col-md-9.col-6.pt-3.align-center
				ul.list-inline.social-list
					li.list-inline-item.ml-2
						a(href='#')
							i.fab.fa-facebook.text-primary(style = "font-size: 40px;")
					li.list-inline-item.ml-2
						a(href='#')
							i.fab.fa-twitter.text-info(style = "font-size: 40px;")
					li.list-inline-item.ml-2
						a(href='#')
							i.fab.fa-instagram.text-danger(style = "font-size: 40px;")
	br
	//end of container
	.text-right.pr-3
		a.btn.btn-sm.btn-outline-primary.back-to-top.inner-link(href='#top') Top