footer.footer-1.bg-dark
  .container
    .row
      .col-md-3.col-sm-6
        img.logo(alt='Logo', src='img/logo-light.png')
      .col-md-3.col-sm-6
        span.sub
          a(href='http://www.simonhospitalitygroup.com', target='_blank') SimonHospitalityGroup.com
        br
        a(href='mailto:carsonkitchen@breadandbutterpr.com?subject=PR Request from Carson Kitchen Website') Press Contact: carsonkitchen@kirvindoak.com
      .col-md-3.col-sm-6
        span.sub
          a(href='http://www.downstairsloftcreative.com', target='_blank') Design: Downstairs Loft Creative, LLC
      .col-md-3.col-sm-6
        ul.list-inline.social-list
          li
            a(href='https://www.facebook.com/CarsonKitchen/')
              i.ti-facebook
          li
            a(href='https://twitter.com/CarsonKitchen?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor')
              i.ti-twitter-alt
          li
            a(href='https://www.instagram.com/carsonkitchen/?hl=en')
              i.ti-instagram
  br
  //end of container
  a.btn.btn-sm.fade-half.back-to-top.inner-link(href='#top') Top