.container-fluid {
    padding: 0;
}

/* Navbar Top */
.navbar-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 699;
}

.navbar-top .navbar-nav a.nav-link{
         color:#df943b;
         font-weight: bold;
         transition: all 0.3s;

    }

.navbar-top .navbar-nav a.nav-link:hover{
       color: white;
       /* border-bottom: 1px white solid;  */

   }

   .carousel-inner > .crousel-item > img {
    width:100%;
    height:95vh;
  }

body.scroll-start .navbar-top.fixed {
    background-color: white;
    position: fixed;
    top: -70px;
}

body.scroll-start.ten .navbar-top.fixed {
    transform-origin: top;
    transition: all 500ms;
}

body.scroll-start.half .navbar-top.fixed {
    background-color: white;
    /*box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.8);*/
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;

}

.bg-center-cover-nr{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:  no-repeat;
}

.bg-repeat-x{
    background-repeat: repeat-x;
}

#foodCarouselMob > div{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:  no-repeat;
    
}



/*Menu Section*/
.section-table {
    width: 100%;
    height: 2222px;
    background-color: #052025;
    background-image: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1549&q=80");
    background-repeat: repeat;
    background-position: top;
    position: relative;
    overflow: hidden;
    z-index: 600;
}

.table {
    width: 100%;
    height: 100%;
    background-image: url("/img/pattern-table-top.png");
    background-repeat: repeat-x;
    background-position: top;
    position: absolute;
    overflow: hidden;
}

.sec-t {
    position: absolute;
}

.basilic {
    top: 55px;
    left: calc(50% - 529px);
    z-index: 616;
}

.huile {
    top: 150px;
    left: calc(50% - 517px);
    z-index: 616;
}

.huile img {
    height: 150px;
}


.cocktail {
    position: absolute;
    transform:  rotate(44deg);
    top: 40px;
    right: calc(50% - 605px);
    z-index: 628;
}

.cocktail.img{
    height: 100%;
}

.plate1 {
    position: absolute;
    top: 300px;
    left: calc(50% - 534px);
    z-index: 620;
}

.cuillere {
    position: absolute;
    top: 303px;
    left:calc(50% - 619px);
    z-index: 619;
    transform: rotate(-42deg);
}

.tomates-cerise {
    position: absolute;
    top: 791px;
    left: calc(50% - 550px);
    z-index: 621;
    transform: rotate(20deg);
}

.tomates-cerise img {
    width: 360px;
}

.planchecharcuterie {
    position: absolute;
    top: 747px;
    left: calc(50% + 34px);
    z-index: 621;
}

.moutarde {
    position: absolute;
    top: 1499px;
    left: calc(50% - 372px);
    z-index: 622;
}

.moutarde img {
    width: 180px;
}

.burger {
    position: absolute;
    top: 1120px;
    left: calc(50% - 401px);
    z-index: 622;
}

.burger img {
    width: 90%;
}


.nosplats {
    position: absolute;
    top: 1480px;
    left: calc(50% + 40px);
}


.wasabi {
    position: absolute;
    top: 1340px;
    left: calc(50% - 545px);
    z-index: 622;
}

.wasabi img {
    width: 150px;
}

.sushis {
    position: absolute;
    top: 645px;
    left: calc(50% + 103px);
    transform: rotate(-6deg)
}

.enviedesushi {
    position: absolute;
    top: 2061px;
    left: calc(50% + 40px);
}

.oeuf {
    position: absolute;
    top: 2660px;
    left: calc(50% + 310px);
    z-index: 626;
    transform: rotate(-10deg);
}

.gourmandise-2 {
    position: absolute;
    top: 1578px;
    right: -5%;
    z-index: 626;
    transform: rotate(-34deg);
}

.gourmandise-3 {
    position: absolute;
    top: 1879px;
    left: calc(50% - 491px);
    z-index: 627;
}

.agrumes {
    position: absolute;
    top: 3170px;
    left: calc(50% - 805px);
    z-index: 628;
}



@media (max-width: 768px) {
    .section-table{
        height: 90vh;
    }

    .cocktail {
        top: -100px;
        right: -12%;
        transform: scale(0.5) rotate(44deg);
    }

    .cocktail.img{
        height: 100%;
    }

    .plate1 {
        position: absolute;
        top: 147px;
        left: calc(50% - 550px);
        transform: scale(0.5);
        z-index: 620;
    }

    .cuillere {
        position: absolute;
        top: 252px;
        left: calc(50% - 542px);
        z-index: 619;
        transform: rotate(-36deg) scale(0.5);
    }

    .sushis {
        position: absolute;
        top: 300px;
        left: calc(50% + -91px);
        transform: rotate(-6deg) scale(0.5);
    }

    .menu-circle{
        position: absolute;
        top: 300px;
        left: 50%;
        z-index: 625;
    }
    .menu-circle .rollover{
        position: absolute;
        border-radius: 50%;

    }

    .menu-circle .rollover .roundbtn{
        opacity: 1;
        transform: scale(1);
    }

    .menu-circle .rollover:hover .roundbtn{
        transform: scale(1.2);
        cursor: pointer;
    }

}



.section-table-mob {
    width: 100%;
    background-color: #194853;
    background-image: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1549&q=80");
    background-repeat: repeat;
    background-position: top;
    position: relative;
    overflow: hidden;
    z-index: 600;
}



/* MENU SECTION 6 */
.rollover {
    position: absolute;
    border-radius: 50%;
    /*background-color: rgba(0,255,0,0.5);*/

}

.roundbtn {
    /*opacity: 0;*/
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    height: 150px;
    width: 150px;
    transform-origin: 50% 50%;
    transform: scale(0);
    margin: calc(50% - 75px);
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 500ms ease-in-out;
}

.plate1 .rollover {
    top: 5px;
    left: 62px;
    width: 478px;
    height: 478px;
}

.plate1 .rollover:hover .roundbtn {
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
}

.planchecharcuterie .rollover {
    top: 34px;
    left: 19px;
    width: 470px;
    height: 470px;
}

.burger .rollover {
    top: 38px;
    left: 29px;
    width: 400px;
    height: 400px;
}

.sushis .rollover {
    top: 51px;
    left: 139px;
    width: 400px;
    height: 400px;
}

.gourmandise-1 .rollover {
    top: 7px;
    left: 28px;
    width: 300px;
    height: 300px;
}

.cocktail .rollover {
    top: 6px;
    left: 70px;
    width: 310px;
    height: 310px;
}

.mug-3 .rollover {
    top: 15px;
    left: 94px;
    width: 320px;
    height: 320px;
}

.cur-pointer {
    cursor: pointer;
}

#menu_cat_modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 800;
    opacity: 0;
    transition: 200ms all ease-in-out;
}

#menu_cat_modal.show {
    display: block;
    opacity: 1;
}

.section-menc {
    background-color: white;
    height: 80%;
    width: 80%;
    opacity: 0;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 5px;
    transition: 2s all ease-in-out;
    transition-delay: 2s;
}

.section-btn {
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 10%;
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop(0%, rgba(0, 0, 0, 0.00)), color-stop(100%, rgba(0, 0, 0, 0.00)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.section-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.section-left-btn {
    left: 0%;
}

.section-left-btn img {
    position: absolute;
    top: 40%;
    right: 10%;
}

.section-right-btn {
    right: 0%;
}

.section-right-btn img {
    position: absolute;
    top: 40%;
    left: 10%;
}

.section-close-btn {
    transition: transform 1s;
}

.section-close-btn.rotate {
    -ms-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
}

.section-menc.show {
    width: 80%;
    opacity: 1;
}

#category-box {
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

#category-box .category-box-inner {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#category-box .category-block {
    width: 0%;
    height: 0%;
    opacity: 0;
    display: inline-block;
    transform-origin: left;
    transition: all 700ms ease-in-out;
}

#category-box .category-block.show {
    width: 100%;
    height: 100%;
    opacity: 1;
}

#category-box > div {
    /*width:90%;*/
    /*margin-left: auto;*/
}

#category-box .menu-list {
    height: 100%;
    overflow-y: auto;
}

#category-box .sec-menu {
    background-color: #32281d;
    color: #f7eddc;
}

#category-box .menu-item {

}

#category-box .menu-item:hover {
    color: rgba(243, 194, 122, 0.8);
    border-bottom: 2px solid  #df943b;
    box-shadow: -1px 2px 4px 1px  #df943b;
    padding: 2px 10px 10px;
}

.category-title {
    font-family: "Lobster", cursive;
    color: #df943b;
}

.menu-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.menu-desc {
    font-family: cursive;
    padding: 2px;
    font-size: 0.8rem;
}


#sec-reservation {
    margin-top: -14vh;
    margin-bottom: 15vh;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.tslot {
    transition: 500ms all;
    color: white;
    background-color: #0b2e13;
    border-radius: 15%;

}

.tslot.full {
    background-color: darkred;
}

.tslot.selected {
    transform: scale(1.2);
    border-radius: 25%;
    box-shadow: 0px 1px 2px 2px rgba(20, 20, 20, 0.3);
    background-color: green;
}

.tslot:hover {
    background-color: green;
}

.tslot.full:hover {
    background-color: darkred;
    transform: scale(1)
}

.tslot:hover {
    transform: scale(1.2);
    border-radius: 25%;
    box-shadow: 0px 1px 2px 2px rgba(20, 20, 20, 0.3);
}

.dateBlock {
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    background-color: #1d68a7;
}

.background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}

.background-image-holder.fadeIn {
    opacity: 1;
}



#review{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    position: relative;
    transition: all 700ms;
}

.review-wrapper{
    background-color: rgba(0,0,0,0.7);
    color: ghostwhite;
    border-radius: 10px;
}

.review-msg{
    font-family: "Raleway", sans-serif;
    line-height: 40px;
    font-weight:200;
}


footer.bg-dark a {
    color: #fff;
}

a, a:visited, a:focus, a:active, a:hover {
    text-decoration: none;
    outline: none;
}

.footer-1 .sub {
    opacity: .5;
}




/** Menu Page */
#menu-page {
    background-color: rgba(229,229,229,0.7);
}

#menu-page .men-page-inner {
    overflow-y: hidden;
}

#menu-page .cat-block {
    border: 1px solid #1e7e34;
    width: 40%;
    display: inline-block;
    transform-origin: left;
    transition: all 1s ease-in-out;
}


.menu-page-head{
    position: relative;
    height: 70vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-page-head-heading h1{
    color: white;
    /*background: rgba(0,0,0,0.2);*/
    font-size: 400%;
    font-family: "Raleway", cursive;
    background: -moz-radial-gradient(center, ellipse cover, rgba(207,207,207,0) 0%, rgba(0,0,0,0.5) 0%, rgba(207,207,207,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(207,207,207,0) 0%, rgba(0,0,0,0.5) 0%, rgba(207,207,207,0) 100%);
    background: radial-gradient(ellipse at center, rgba(207,207,207,0) 0%, rgba(0,0,0,0.5) 0%, rgba(207,207,207,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#cfcfcf', GradientType=1 );
}

.menu-page-head-gradient{
    height: 100px;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu-page-inner{
    position: relative;
    margin-top: -25vh;
    z-index: 105;
}

.menu-page-cat{
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    z-index: 105;
}

.menu-page-inner .category-title{
    border-bottom: 2px grey dotted;
    font-size: 250%;
}
@media (max-width: 768px) {
    .review-msg{
        font-size: 1rem;
        line-height: inherit;
        font-weight:200;
    }
    .review-head{
        font-size: 0.8rem;
        line-height: inherit;
        font-weight:200;
    }
}

.group-page-head{
    background-image:url('https://images.unsplash.com/photo-1525159831892-59d292d558b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    position: relative;
    height: 90vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.reserve-page-head{
    background-image:url('https://images.unsplash.com/photo-1503863627916-deb1706f5b79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    position: relative;
    height: 80vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* PARALLAX EFFECT */
.parallax-divison { 
    /* The image used */
    background:linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.3));
    background-image: url("https://images.unsplash.com/photo-1477506350614-fcdc29a3b157?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    align-content: center;
    /* Set a specific height */
    height: 230px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 1000px) {
    .parallax-divison {
      background-attachment: scroll;
      height: 200px;
    }
  }

  
.division-text {
    color: #6b3e07;
    padding-top: 10%;
    font-family: "Lobster", cursive;
}