section#about.container.mt-5.mb-5
	.row.justify-content-center.align-items-center
		.col-md-8.order-md-2.mb-4
			img.img-fluid.z-depth-1(src='https://images.unsplash.com/photo-1541544741938-0af808871cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80', alt='About Us')
		.col-md-4.text-center.text-lg-left.mb-4.mt-3
			h2.mb-0
				font(style='vertical-align: inherit;')
					font(style='vertical-align: inherit; font-family: "Lobster", cursive; font-size:2.5rem') We are...
			p.lead(style = 'font-family: "Raleway", sans-serif; font-weight: 200') Opening in 2014, Carssars Kitchen was the creation of Las Vegas' hometown favorite Chef Kerry Simon and restaurateur Cory Harwell. The plan, to develop the first urban casual eatery, inside the re-purposed mid-century John E. Carson Hotel - a skeleton of Downtown Las Vegas' yesteryears, now home to its eclectic mix of tenants including a sushi bar, tattoo parlor, pilates studio, creative agencies, donut &amp; coffee bar and Chef Simon's playful interpretations on American comfort food.
			a(href='about.html')
			| Know More
			i.fas.fa-arrow-circle-right.pl-2(aria-hidden='true')
			h4 
				a(href="https://www.facebook.com/CarsonKitchen/")
					i.fab.fab-facebook
				a(href="https://twitter.com/CarsonKitchen?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor")
					i.fab.fab-twitter-alt
				a(href="https://www.instagram.com/carsonkitchen/?hl=en")
					i.fab.fab-instagram

