.text-center.align-items-center.parallax-divison
    .container.flex-center.white-text
        .page-head-heading
            .container.text-center.py-5
                h1.text-center.py-2(style="border-top: 1px white solid; border-bottom: 1px white solid;")= sec_heading