div.grid.mt-5.p-3
    .row    
        .col
            .grid-item
                img.img-fluid.rounded(src="img/alta/arepa.jpg")
            .grid-item.grid-item--width2  
                img.img-fluid.rounded(src="img/alta/cafe.jpg")
            .grid-item
                img.img-fluid.rounded(src="img/alta/choco.jpg")
        .col
            .grid-item
                img.img-fluid.rounded(src="img/alta/envivo.jpg")
            .grid-item 
                img.img-fluid.rounded(src="img/alta/granola.jpg")
            .grid-item
                img.img-fluid.rounded(src="img/alta/cachito.jpg")
        .col
            .grid-item.grid-item--width2 
                img.img-fluid.rounded(src="img/alta/corona.jpg")
            .grid-item.grid-item--width2 
                img.img-fluid.rounded(src="img/alta/jugo.jpg")
            .grid-item
                img.img-fluid.rounded(src="img/alta/tostadas.jpg")