.container-fluid.p-0
	#foodCarousel.d-none.d-md-block.carousel.slide(data-ride="carousel")
		.carousel-inner
			.carousel-item.active
				img.d-block.img-fluid.h-auto(src="img/alta/granola.jpg", alt="First slide" ,style = "max-width: 100%")
			.carousel-item
				img.d-block.img-fluid(src="img/alta/area-bar.jpg", alt="Second slide",style = "max-width: 100%")
			.carousel-item
				img.d-block.img-fluid(src="img/alta/evento.jpg", alt="Third slide" ,style = "max-width: 100%")

		a.carousel-control-prev(href="#foodCarousel", role="button", data-slide="prev")
			span.carousel-control-prev-icon(aria-hidden="true")
			span.sr-only Previous
		a.carousel-control-next(href="#foodCarousel", role="button", data-slide="next")
			span.carousel-control-next-icon(aria-hidden="true")
			span.sr-only Next

	#foodCarouselMob.d-md-none
		.container-fluid(style="height:90vh; background-image:url('img/alta/area-bar.jpg');")