//- section.image-square.left#location
//-   .col-md-6.p0.image
//-     .map-holder.background-image-holder.fadeIn(style='background: url("undefined");')
//-       iframe(src='./Carson Kitchen Las Vegas_files/embed.html', width='800', height='600', frameborder='0', style='border:0', allowfullscreen='')
//-   .col-md-6.col-md-offset-1.content
//-     img(src='./Carson Kitchen Las Vegas_files/carson_kitchen_logo_dark_sm.png', alt='carson kitchen logo dark')
//-     br
//-     h5.large.uppercase.mb8.mb-xs-12 Just tell your driver ...
//-     h5.large.uppercase.mb8.mb-xs-12
//-       i "Carson & 6th"
//-     hr
//-     h5.large.uppercase.mb8.mb-xs-12
//-       | →
//-       a(href='https://www.google.com/maps/place/Carson+Kitchen/@36.1679129,-115.1406508,15z/data=!4m5!3m4!1s0x0:0xb52ef0e92b55e80d!8m2!3d36.1679129!4d-115.1406508!6m1!1e1')
//-         u Google Map
//-       | this joint
//-     hr
//-     ul
//-       li Carson Kitchen | John E. Carson Hotel
//-       li (Corner of Carson Ave & 6th St.)
//-       li 124 S. 6th St., Suite 100
//-       li Las Vegas, NV 89101
//-       li (702) 473-9523
//-       br
//-       li Sunday - Wednesday 11:30am - 10:00pm
//-       li Thursday - Saturday 11:30am - 11:00pm
//-     p
//-       a(href='https://www.facebook.com/CarsonKitchen/')
//-         i.ti-facebook.icon-sm
//-       a(href='https://twitter.com/CarsonKitchen?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor')
//-         i.ti-twitter-alt.icon-sm
//-       a(href='https://www.instagram.com/carsonkitchen/?hl=en')
//-         i.ti-instagram.icon-sm